{% extends 'mycontacts/background.html' %}
{% load static %}
{% block content %}

  <div class="container-add">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-3">
        		
          <div class="delete-confirmation">
              <h3>Confirmar Exclusão</h3>
              <p>Tem certeza que deseja deletar o contato <strong>{{ contact.name }}</strong>?</p>
              
              <div class="contact-info">
                  <p><strong>Nome:</strong> {{ contact.name }}</p>
                  <p><strong>Relação:</strong> {{ contact.relation }}</p>
                  <p><strong>Telefone:</strong> {{ contact.phone }}</p>
                  <p><strong>Email:</strong> {{ contact.email }}</p>
              </div>
              
              <form method="POST" style="display: inline;">
                  {% csrf_token %}
                  <div class="text-center">
                      <button type="submit" class="btn btn-delete">Sim, Deletar</button>
                      <a href="{% url 'show' %}" class="btn btn-cancel">Cancelar</a>
                  </div>
              </form>
          </div>
          
      </div>
  </div>

{% endblock content %}
